body{
    background-color: white;
    margin: 0%;
    padding: 0%;
}
#lewy{
    padding: 0%;
    margin: 0%;
    width: 20%;
    height: 100vh;
    float: right;
    background-color: greenyellow;
}
#prawy{
    padding: 0%;
    margin: 0%;
    width: 80%;
    height: 100vh;
    float: left;
}

.objectButtonsWrapper{
    background-color: grey;
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px ;
    display: flex;
    flex-direction: column;
}

.objectsTitle{
 color: rgb(231,228,228);
 font-size: 17px;
 text-align: center;
 margin-top: 0px;
 margin-bottom: 5px;
}

.objectButtons{
    display: flex;
    align-items: center;
    justify-content: center;
}